.novi_post {
  left: 10%;
  width: 100%;
  height: 600px;
  color: #7d7d7d;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

textarea,
input {
  background: #100e17;
  height: 60px;
  background-color: #100e17;
  color: #7d7d7d;
}

.novi_post input {
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  font-size: 16px;
}

.novi_post textarea {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  height: 400px;
  width: 80%;
  margin-bottom: 20px;
  font-size: 16px;
}

.slika img {
  width: 100px;
}

.korisnik {
  width: 100%;
  display: flex;
  /* right: 5%; */
}

.autor {
  padding-top: 30px;
}

.korisnik .prijava {
  color: #7d7d7d;
  font-size: 15px;
  margin: 0;
}

.korisnik .ime {
  margin: 0;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 700;
}

button {
  width: 150px;
  margin-right: 15px;
}

@media only screen and (max-width: 1080px) {
  .korisnik {
    top: 50px;
    left: 50px;
    margin-bottom: 30px;
    display: flex;
  }

  .novi_post {
    margin-top: 30px;
  }

  .novi_post {
    margin: 7%;
    width: 100%;
    bottom: 10%;
  }

  button {
    display: flex;
    width: 50%;
    margin: 0;
  }
}
