.red {
  display: flex;
}

.registration {
  width: 30%;
  margin-top: 50px;
  margin-left: 10%;
  color: #fff;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: left;
  font-size: 22px;
}

.registration input {
  width: 100%;
  margin-bottom: 20px;
}

.registration input[type="text"],
input[type="password"] {
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 5px;
}

.autn {
  width: 80%;
  margin-left: 5%;
  margin-top: 40px;
}

.puno-dugme {
  padding: 10px;
  font-size: 20px;
}

@keyframes anim-slika{
  0%{
    border-radius: 0;
    opacity: 0.2;
    filter: blur(20px);
    filter: grayscale(100%);
  }
  
  100%{
    border-radius: 25%;
    opacity: 1;
    filter: blur(0);
    filter: grayscale(0%);
  }
}
img{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    animation-name: anim-slika;
    animation-duration: 5s;
}
@media only screen and (max-width: 1280px) {
  .red {
    display: block;
  }

  .registration {
    padding-top: 50px;
    margin: auto;
    width: 80%;
  }

  .image {
    margin: auto;
    padding: auto;
    margin-left: 10%;
  }

  .autn {
    width: 80%;
  }
}
