/* sve što se nalazi na svim stranicama */

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #100e17;
  margin: 0;
  padding: 0;
}

.grid-slika img {
  max-width: 550px;
}

hr {
  width: 100%;
  margin: 0;
  display: flex;
}
.grid-container {
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px 50px;
}

.grid-logo {
  grid-column: 1;
}

.grid-ul {
  grid-column-start: 2;
  grid-column-end: 4;
}

.grid-slika {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: 3;
}

.grid-naslovi {
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 0;
  text-align: justify;
}

.grid-naslovi .naslovi {
  margin-left: 15px;
}

.grid-naslovi .tekst {
  color: #7d7d7d;
  margin-left: 22px;
}

.grid-dugmici {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  margin-left: 20px;
}

#logo {
  width: 60px;
  float: left;
  padding: 10px;
}
/* dugmici */

button {
  padding: 10px;
  font-size: 18px;
}

.prazno-dugme,
.puno-dugme:hover {
  border: 2px #fff solid;
  background: none;
  color: #fff;
}

.puno-dugme,
.prazno-dugme:hover {
  border: 2px #fff solid;
  background: #fff;
  color: #100e17;
}

#postovi {
  margin: 20px 60px;
}

#postovi h1 {
  color: #fff;
  display: relative;
}

/* footer */

footer {
  padding-top: 50px;
  text-align: center;
}

.footer-opis {
  margin: auto;
  width: 60%;
}

.footer-opis h2 {
  color: #fff;
}

.footer-opis p {
  color: #7d7d7d;
}

.loginbox input[type="text"],
input[type="password"] {
  border: 1px solid #fff;
  background: transparent;
  padding: 5px;
  margin-top: 10px;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.copyright {
  color: #7d7d7d;
}

footer a,
h3 {
  color: #fa71cd;
}

a {
  text-decoration: none;
}

.kontakt p {
  color: #7d7d7d;
  font-size: 18px;
}

.kontakt ul {
  list-style: none;
}

.kontakt ul li {
  padding: 0 40px;
  display: inline-block;
}

.postovi {
  margin: 20px 20%;
}

.naslov {
  color: #fff;
  font-size: 30px;
}

.sivi {
  color: #7d7d7d;
  font-size: 15px;
}

#postovi a {
  color: #fa71cd;
}

.datum {
  margin: 0;
  padding: 0;
}

.post {
  margin: 0;
  background: none;
  margin-bottom: 60px;
}

.post p {
  color: #7d7d7d;
  text-align: justify;
}

.postovi h2 {
  margin-top: 0;
}

.autor .slika img {
  height: 60px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

/* meni */

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* .meni-telefon {
  display: none;
}

.meni-telefon .nav .skip {
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
}

.meni-telefon .nav ul.open {
  max-height: 20em;
}

.meni-telefon .nav ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 1em;
  top: 3.5em;
  transition: max-height 0.25s ease-out;
}

.meni-telefon nav li {
  text-align: right;
}


.meni-telefon nav li a {
  padding: 0.5em;
  display: block;
}

@media screen and (max-width: 37em) {
  .meni-telefon {
    display: inline-block;
  }

  .meni-telefon .nav ul {
    overflow: auto;
    max-height: inherit;
    position: static;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
  }

  .meni-telefon .nav li {
    text-align: left;
    display: inline-block;
    border-top: 0;
    border-right: 1px solid #aaa;
  }

  .meni-telefon .nav li:last-child {
    border: 0;
  }

  .meni-telefon .nav .skip {
    display: none;
    visibility: hidden;
  }
} */

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #fff;
  display: block;
  float: right;
  padding: 30px 30px 20px 30px;
  z-index: 55;
}

li a:hover,
li a:active {
  color: #00edff;
}

.js .nav ul.open {
  max-height: 20em;
}

.js .nav ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 1em;
  top: 3.5em;
  transition: max-height 0.25s ease-out;
}

.js .nav .skip {
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
}

.js .nav ul {
  overflow: auto;
  max-height: inherit;
  position: static;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
}

@media screen and (min-width: 1210px) {
  .js .nav li {
    text-align: left;
    display: inline-block;
    border-top: 0;
  }
  .js .nav li:last-child {
    border: 0;
  }
  .js .nav .skip {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 1210px) {
  .js .nav .skip {
    display: block;
    visibility: initial;
  }
}
