/* sve što se nalazi na svim stranicama */

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #100e17;
  margin: 0;
  padding: 0;
}

#logo {
  width: 60px;
  float: left;
  padding: 10px;
}

#hero {
  width: 600px;
  float: right;
  margin-right: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #fff;
  display: block;
  float: right;
  padding: 30px 30px 20px 30px;
  z-index: 55;
}

li a:hover,
li a:active {
  color: #00edff;
}

hr {
  width: 100%;
  margin: 0;
}

/* dugmici */

button {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.prazno-dugme,
.puno-dugme:hover {
  border: 2px #fff solid;
  background: none;
  color: #fff;
}

.puno-dugme,
.prazno-dugme:hover {
  border: 2px #fff solid;
  background: #fff;
  color: #100e17;
}

#postovi {
  margin: 20px 60px;
}

#postovi h1 {
  color: #fff;
}

.tacka {
  width: 20px;
}
